.navbar {
    height: 80px; /* Set your desired height */
}

.map-container {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: calc(100vh - 80px); /* Full viewport height minus navbar height */
}

#returnbutton {
    /* Width of the button relative to width of the sidebar */
    width: 16.5%;
    top: 5px;
    left: 5px
}

.map-search-container {
    position: left;
    /* background: rgba(177, 128, 206, 0.5); */
    background: rgba(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    overflow: visible; /* does not clip overflow */
}

.geocoder {
    position: fixed;
    top: 220px;
    left: 5px;
    background: rgba(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
    overflow: visible; 
    width: 16.5%
}

.mapboxgl-popup-content {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
  }

/* Modifications to Bootswatch Lux theme */
.btn-outline-info {
    width: 100%;
    font-size: 0.8rem;
    padding: 4px 10px;
}

.opener-dropdown {
    position: fixed;
    /* background: rgba(177, 128, 206, 0.5); */
    background: rgba(0, 0, 0);
    top: 120px;
    left: 5px;
    width: 16.5%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    overflow: visible; /* does not clip overflow */
}

.show-info {
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 5px
}