.navbar {
    height: 75px;
}

/* Map */
.map-container {
    width: 75%;
    float: right;
    height: calc(100vh - 95px); /* account for navbar */
    margin-top: 10px;
    margin-right: 10px;
    border: 3px solid #5B1166;
}

.map-search-container {
    float: left;
    margin-left: 10px;
    padding: 10px;
    overflow: visible
}

/* Controls and filters */
#returnbutton {
    position: relative;
    width: 200px;
    margin-top: 10px;
    left: 10px;
    float: left;
    z-index: 2;
}

#exitbutton {
    position: relative;
    width: 200px;
    margin-top: 10px;
    left: 10px;
    float: left;
    z-index: 3;
}

.opener-dropdown {
    float: left;
    width: calc(25% - 30px);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: visible; /* does not clip overflow */
    background: white;
    border: 3px solid #5B1166;
    font-size: 16px;
}

.song-search {
    float: left;
    width: calc(25% - 30px);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: visible; /* does not clip overflow */
    background: white;
    border: 3px solid #5B1166;
    font-size: 16px;
}

.region-buttons {
    float: left;
    width: calc(25% - 30px);
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    overflow: visible; /* does not clip overflow */
    background: white;
    border: 3px solid #5B1166;
    font-size: 16px;
}

.region-button {
    margin-top: 5px;
}

.description {
    float: left;
    width: calc(25% - 30px);
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    overflow: visible; /* does not clip overflow */
    background: white;
    border: 3px solid #5B1166;
    font-size: 16px;
}

/* Pop up and sidebar */
.mapboxgl-popup-content {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}

.show-info {
    float: left;
    width: calc(25% - 30px);
    max-height: calc(100vh - 95px);
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    overflow-y: scroll; /* vertical scroll overflow */
    background: white;
    border: 3px solid #5B1166;
}

/* Legend */
.map-legend {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background: white;
    padding: 10px;
    border: 3px solid #5B1166;
}

.map-legend .legend-circle {
    border-radius: 50%;
    background-color: #5B1166
}

/* Modifications to Bootswatch theme */
.btn-outline-info {
    width: 100%;
    font-size: 0.8rem;
    padding: 4px 10px;
}

/* Modifications to Select 2 container */
.select2-container {
    width: 100% !important;
}